
.card{
    height: 400px;
    background-color: #F5F5F5;
    border-color: #5596F5;
}

.card-img-top{
    height: 60%;
    object-fit: contain;
    
}
.container{
    box-sizing: border-box;
}
#titleCart {
    margin-top: 200px;
    text-align: center;
}
.btn{
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}