*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
}


h3{
    padding:0;
    margin:0;
}


#count{
    padding:5px;
    margin:0px;
    /* display: flex;
    justify-items: center;
    justify-content: center; */
    font-size:50px;
    width:22%;
}

ul.count{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-items: center;
}

ul.navi{
    
    width:100vw;
    list-style-type:none; 
    position: fixed;
    margin:0;
    padding:0;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #212121;
    z-index: 10;
}

li.navi{
    width:12%;
    float:right;
    color:#FFFFFF;
    text-align:center;
    background-color:#212121;
}

li.navi a{
    display:block;
    margin:3px;
    padding:14px 16px;
    text-decoration: none;
    color:#FFFFFF;
    
}


li.nav.row{
    display:flex;
    flex-direction: row;

}


li.navi.left{

    float:left;
    margin:0;
    padding:0;
    text-align:left;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .row{
    display:flex;
    flex-direction: row;
}
.column{
    display: flex;
    justify-content: center;
    flex-direction:column;
} */

/** This gives the background and alignment of the cards on main**/
#cardBackground{
    width:100vw;
    display:flex;
    justify-content: center;
    background:linear-gradient(#FFFFFF,#F5F5F5);
}
#Cardrender{
}

#cardContainer{
    /* min-width:150px;
    max-width:300px; */
    width:280px;
    margin-top:85px;
    margin-bottom: 80px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    object-fit: contain;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#imgContainer{
    flex:3 0 0px;;
    object-fit:cover;

}
#img{
    width:100%;
    height:100%;
    margin:0;
}
#headInfoContainer{
    padding:10px;
    flex:2 0 0px;
}
#title{
    font-size:50px;
}
#flavorText{
    font-size:0.7em;
}
#bottomInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:10px;
    flex:2 0 0px;
}
#pricetag{
    margin-top:0;
    margin-bottom:10px;
    font-size:2em;
}

#addButton{
    padding:10px;
    display:block;
    text-align: center;
    color:#FFFFFF;
    background-color:#5596F5;
    font-size:20px;
    border-radius:10px;
    border:none;
    content:'\f218';
    font-family:Arial, Helvetica, sans-serif;
}

#addButton a{
    display:block;
    text-align: center;
    background-color:#5596F5;
}

#addButton:before{
    padding:10px;
    content:'\f218';
    font-family: FontAwesome;
}


#loginbox{
    width:150px;
    height:30px;
    padding:5px;
    text-align:center;
    color:white;
    background-color:red;
}/*test om det fngerar med en login knapp*/


 @media screen and (max-width: 420px){
    ul.navi{

        width:100vw;
        font-size: 30px;
    }
    li.navi{
        width:100vw;
        float:none;
        justify-content: center;
    }
    li.navi a{
        padding:5px;
        text-align: center;
    }
   
    #count{
        padding:0px;
        margin-right:10px;
        font-size:38px;
        width:10%;
    }
    #cardContainer{
        margin-top:130px;
        margin-bottom:30px;
    }
} 